/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

img {
    max-width: 100%;
}

/* UTILITIES */
:root {
    --header-col : #ed722e;
    --footer-col : #1a1a1a;
}

/* COMMON */
.container {
    width: 80%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.flex-direction-col {
    flex-direction: column;
}

.wrapper {
    flex-wrap: wrap;
    gap: .1rem;
}

.justify-between {
    justify-content: space-between;
}

.row {
    margin-top: 10rem;
}

.cards {
    width: calc(96% / 3);
    margin: 2rem 0;
}

.price-red {
    color: red;
}

.img-before:hover {
    display: none;
}

span {
    display: inline-block;
}

.wishlist {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 2rem;
    background-color: white;
    padding: .5rem 1rem;
    z-index: 2;
}

.icons {
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 2;
}

.discount {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: .3rem .5rem;
}

.sustainability {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: .3rem 1rem;
}

.wishlist:hover {
    color: red;
}

/* HEADER */
header {
    height: 90px;
    background-color: var(--header-col);
    margin-bottom: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

/* MAIN */

.item-text h4 {
    font-weight: bolder;
}

.shopimg {
    position: relative;
}

.img-before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

