/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

img {
    max-width: 100%;
}

/* UTILITIES */
:root {
    --header-col : #ed722e;
    --footer-col : #1a1a1a;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: inline-block;
}

li {
    list-style-type: none;
    font-weight: bold;
    padding-right: 1rem;
}

/* COMMON */
.container {
    width: 80%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.flex-direction-col {
    flex-direction: column;
}

.wrapper {
    flex-wrap: wrap;
    gap: .1rem;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-bottom {
    align-items: self-end;
}

.row {
    margin-top: 10rem;
}

.cards {
    width: calc(96% / 3);
    margin: 2rem 0;
}

.price-red {
    color: red;
}

span {
    display: inline-block;
}

.wishlist {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 2rem;
    background-color: white;
    padding: .5rem 1rem;
    z-index: 2;
}

.icons {
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 2;
}

.discount {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: .3rem .5rem;
}

.sustainability {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: .3rem 1rem;
}

.wishlist:hover {
    color: red;
}

/* HEADER */
header {
    height: 90px;
    color: white;
    background-color: var(--header-col);
    margin-bottom: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.logo {
    width: 12%;
}

.menu {
    margin: 0 8rem;
    font-size: 1.1rem;
}

/* MAIN */

.item-text h4 {
    font-weight: bolder;
}

.shopimg {
    position: relative;
}

.img-before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.img-before:hover {
    display: none;
}

.img-after:hover {
    position: relative;
    z-index: 2;
}

/* FOOTER */
footer {
    height: 110px;
    background-color: var(--footer-col);
    margin-top: 3.5rem;
    color: white;
}

.gdpr {
    padding-top: 1.7rem;
    gap: .7rem;
}

.social {
    padding-top: 1.7rem;
    gap: .7rem;
}

.social h3 {
    padding-bottom: .7rem;
}

.fa-twitter {
    margin-left: 0.4rem;
}